main {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

header {
    height: 100px;
    padding: 0 20px;
    background-color: black;
}

.logo {
    line-height: 100px;
    float: left;
    color: white;
    font-size: 2em;
}

.menu {
    margin-top: 10px;
    float: right;
    line-height: 100px;
}

.menu a {
    font-size: 1em;
    font-family: arial;
    text-decoration: none;
    padding: 0 20px;
    color: white;
}

.menu a:hover {
    border: 5px rgb(42, 129, 201) solid;
}

/* SOBRE MI  */

.about {
    width: 80%;
    height: auto;
    display: flex;
}

.about .img-redonda {
    max-width: 100%;
    height: 216px;
    padding-left: 150px;
    margin: 15px;
}

.me {
    width: 100%;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: bold;
    color: #c8c8c8;
    padding: 0 0 0 120px;
    margin: 50px;
}

.bio p {
    font-family: Arial;
    font-size: 18px;
    text-align: left;
    padding-top: 15px;
}

.redes {
    margin: 20px;
}

.redes img {
    border-radius: 100%;
    width: 5%;
    padding: 2px;
}

.redes img:hover {
    background-color: red;
}

/* MI PORTAFOLIO */

.portafolio {
    position: relative;
}

.portafolio img {
    border: 10px grey solid;
    margin-left: 2px;
    margin-right: 20px;
}

.portafolio figure {
    width: 100%;
    margin: auto;
    padding-left: 150px;
}

/* MIS HABILIDADES */

.perfil {
    width: 100%;
    position: relative;
}
/* .perfil h3{
    margin: 20px;
    padding-top: 30px;
} */

.perfil .skills h3 {
    margin: 10px;
    font-size: 13px;
    font-family: helvetica;
    width: 130px;
}

.perfil .skills {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.skills > div {
    width: 35%;
}

.perfil .progress-bg {
    position: relative;
    width: 50%;
    background-color: grey;
    height: 20px;
    border-radius: 20px;
    margin: auto;
    margin-right: 150px;
    bottom: 30px;
}

.perfil .progress-f {
    width: 30%;
    height: 20px;
    border-radius: 10px;
    background-color: #42704e;
}

.perfil .progress-f2 {
    border-radius: 11px;
    border: solid 1px #d5d5d5;
    background-color: #f0f0f0;
}

/*
* Contacto
*/


.contact {
    display: flex;
    margin: auto;
    width: 100%;
    position: relative;
    margin-top: 20px;
  }
  
  .title_contact{
    position: absolute;
  }
  .form{
  
    width: 60%;
    border-right: 1px solid #5c565685;
    font-size:0.8rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  .address {
    width: 40%;
  
  }
  .contact form{
    margin-top: 60px;
    margin-left: 30px;
  }
  .form_top, 
  .form_middle,
  .form_bottom{
    display: flex;
   
  }
  .form_top div,
  .form_middle div,
  .form_bottom  {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
    justify-content: space-between;
    color: black;
  }
  
  .form form input{
    width: 95%;
    height: 30px;
    border-style: none;
    border: 1px solid #5c565685;
    margin-top: 5px;
    box-shadow: none;
    
  }
  .form textarea {
    width: 97%;
    margin-top: 5px;
    border: 1px solid #5c565685;
  }
  .form textarea:focus{
    border: 2px solid #42704e; 
  }
  
  
  .form form input:invalid:focus{
    border: 2px solid #ec2a07;
    box-shadow: none;
  }
  .form form input:invalid:focus{
    border: 2px solid #42704e;
    box-shadow: none;
  }
  
  
  .button input[type="submit"]  {
    display:inline-block;
    width: 160px;
    height: 40px;
    color: white;
    background-color: #42704e;
  
  }
  
  .button input[type="submit"]:hover{
    background-color: cadetblue;
  }
  .address {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: 10px;
  }
  
  .address h4{
    font-weight: bold;
  }
  .address h4,
  .address p {
    margin: 5px 0px 10px 20px;
  }
  
  



/* FOOTER */

footer {
    width: 100%;
    height: 80px;
    background: black;
    color: white;
}

footer .copy {
    float: left;
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    margin: auto;
    padding: 12px;
}

footer .by {
    float: right;
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    margin: auto;
    padding: 12px;
}
